<div class="container-fluid contr-padding">
   <div ng-class="singleMmomentObjId()" class="momList">
      <div class="row-fluid">
         <p class="col-xs-4 col-xs-offset-4 pfont">{{singleMomentObj[0].date}} | {{singleMomentObj[0].time}} </p>
         <p class="col-xs-2 col-xs-offset-2 glyphicon glyphicon-bookmark"></p>
      </div>
      <div class="row-fluid">
         <p class="FullMomMsg col-xs-12">{{singleMomentObj[0].momMessage}}</p>
      </div>
      <div class="row-fluid">
         <p class="momExplores pfont col-xs-8 no-margin">{{singleMomentObj[0].explores}} Explores | &nbsp{{singleMomentObj[0].remoments.length}} Remoments</p>
         <p class="pfont momDistance col-xs-4 no-margin">Remoment</p>
      </div>
      <div class="clear"></div>
   </div>
   <ul ng-repeat="reMom in singleMomentObj[0].remoments" class="row remomList">
      <li ng-class-odd="'oddColor'">
         <div class="row-fluid">
            <p class="col-xs-8"></p>
            <p class="remDate pfont col-xs-4 ">{{reMom.date}} | {{reMom.time}}</p>
         </div>
         <div class="row-fluid">
            <p class="remSign col-xs-2">{{reMom.sign}}</p>
            <p class="remMsg col-xs-10">{{reMom.remMessage}}</p>
         </div>
      </li>
   </ul>
</div>