<nav id="navbar" class="navbar navbar-fixed-top">
            <ul class="nav nav-left">
                <li class="span3 navLogo" id = "navLogo"><a href="#/moments"></a></li>
                <li class="span3 mapIcon notCurrent
"><a href="#/map"></a></li>
            </ul>
              <ul class="nav nav-right">
                <li class="span3 momIcon"><a href="#/moments"></a></li>
                <li class="span3 menuIcon notCurrent
"><a href="#/moments"></a></li>
            </ul>
</nav>
<div class="container-fluid contr-padding bkgColor">
   <div class="panel panel-default whatsYourMom">
    <div class="panel-heading pHead">
      Current Address
   </div><a href="#/map">
   <div class="panel-body">
      <h3>What's your moment?</h3>
   </div>  </a>
   <div class="panel-footer pFooter">
   </div>
 
</div>
<div ng-repeat="moment in moments">
   <ul ng-repeat="myMmt in moment.myMoments">
      <li class="momList" ng-style = "momentBodyColor(myMmt.color)">
         <div class="row-fluid headMsg" ng-style = "momentHeadColor(myMmt.color)" >
            <p class="col-xs-3 momDate pfont">{{myMmt.date}}</p>
            <p class="col-xs-6 pfont">{{myMmt.address}}</p>
            <p class="col-xs-3 momDistance pfont">1.2 km</p>
            <div class="clear"></div>
            <p class=" col-xs-12"></p>
         </div>
         <div class="row-fluid bodyMsg" >
            <p class="momMsg col-xs-12" ><a href="#/moments/{{myMmt.momId || myMmt._id}}">{{myMmt.momMessage}}</a></p>
         </div>
         <div class="clear"></div>
         <div class="row-fluid ">
            <p class=" col-xs-12 tailBrdr"></p>
            <p class="momExplores col-xs-8 pfont ">{{myMmt.explores || 0}} Explores  &nbsp{{myMmt.remoments.length}} Remoments</p>
         </div>
         <div class="clear"></div>
      </li>
   </ul>
</div>
</div>
