
ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
body{
	/*overflow-y: hidden;*/
	/*height: 100%;*/
}
a {
    color: inherit;
    text-decoration: none;
}
.momList{
	margin: 2%;
	background-color: #ccc;
	border: none;
  	padding: 1.5%;
  	text-align: center;
  	font-size: 17px;
  	font-weight: 600;
}
.remomList{
	background-color: #ccc;
	padding: 1.5%;
	margin: 2%;
  	font-size: 18px;
  	font-weight: bold;
  	padding: 1.5%;

}
.clear{
	clear: both;
}


.pmom{
	font-size: 10px;
	display: inline-block;
	float: left;
	margin: 0;
}

.momMsg{
	padding-top: 25px;
	padding-bottom: 25px;
	display: block;
	float: left;
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	width: 100%;
  	max-width: 160px;
  	margin-left: 25%;
  	margin-right: 25%;
}
.FullMomMsg{
	padding: 30px;
	font-size: 20px;
	font-weight: bold;
}

.momDate{
	float: none;
}

.remDate{
  padding: 0;
  text-align: right;
}

.remSign{
	font-size: 26px;
	background-color: #6E6A6A;
	text-align: center;
}
.remMsg{
	float: left;
	text-align: left;

}
.momAddress{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	float: none;
	width: 50%;
}

.momExplores{

}

.momRemoments{

}

.momDistance{
	float: right;
}
.oddColor{
/*	background-color: #9C8282;
*/
}