
ul, li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
body{
	/*overflow-y: hidden;*/
	/*height: 100%;*/
}

a{
    color: inherit;
    text-decoration: none;
}

.view {
margin-top: 14%;	
}
.contr-padding{
	padding-left: 0;
	padding-right: 0;
}

.momList{
  margin: 4% 2% 4% 2%;
	background-color: #ccc;
	border: none;
  	text-align: center;
  	font-size: 17px;
  	font-weight: bold;
	box-shadow: 0px 0px 4px 0px rgb( 163, 162, 152 );	
	border-radius: 3px;

}

.remomList{
	background-color: #ccc;
	padding: 1.5%;
	margin: 2%;
  	font-size: 18px;
  	font-weight: bold;
  	padding: 1.5%;

}

.whatsYourMom {
	margin: 2%;
  	background-color: #faf6e2;
	color: #16a79a;
	box-shadow: 0px 0px 4px 0px rgb( 163, 162, 152 );	
	text-align: center;

}

.pHead{
  background-image: linear-gradient(to bottom,#faf6e2 0,#faf6e2 100%) !important;
  	color: #16a79a !important;
}

.pFooter{
  width: 92%;
  float: none;
  margin-left: auto;
  margin-right: auto;
  background-color: #faf6e2;
  border-top: 2px solid #ddd;


}
.whatsYourMomTxt {
	font-size: 18px;
	font-weight: bold;
	margin: 3% 0 3% 0;
}

.CurrAdd{

}

.downLine{
	text-align: center;
 	background-color: rgb( 163, 162, 152 );
  	height: 1px;
   box-shadow: 0px 0px 4px 0px rgb( 163, 162, 152 );
   margin-left: auto;
	margin-right: auto;
   opacity: 0.302;
   margin-bottom: 3%;
}

.upperLine{
	margin-top: 3%;
 	background-color: rgb( 163, 162, 152 );
  	height: 1px;
}

.clear{
	clear: both;
}

.tailBrdr{
	background-image: url("../images/line.png");
 	width: 95%;
 	float: none;
	margin-left: auto;
 	margin-right: auto;
	margin: 0 auto 2% auto;
	opacity: 0.4;
}

.headBrdr{
	background-image: url("../images/line.png");
 	width: 100%;
 	float: none;
	margin-left: auto;
 	margin-right: auto;
	margin: 0 auto 2% auto;
	opacity: 0.4;
}

.momMsg{
	padding-top: 25px;
	padding-bottom: 25px;
	display: block;
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	width: 100%;
  	max-width: 160px;
  	margin-left: 25%;
  	margin-right: 25%;
}

div.row-fluid.headMsg > p {
	margin-bottom: 0.5%;
}

.headMsg {
	border-radius: 3px;
}
.FullMomMsg{
	padding: 30px;
	font-size: 20px;
	font-weight: bold;
}

.momDate{
	text-align: left;
  padding: 0 0 0 2%;
}

.remDate{
  padding: 0;
  text-align: right;
}

.remSign{
	font-size: 26px;
	background-color: #6E6A6A;
	text-align: center;
}

.remMsg{
	float: left;
	text-align: left;
}

.momExplores{
	 padding: 0 0 0 2%;
	text-align: left;
}

.no-margin{
	margin: 0;
}

.momDistance{
	 padding: 0 2% 0 0;
	 text-align: right;
}
.ColorInject{
	background-color: #9C8282;
}

.pfont{
	font-size: 10px;
}

p::first-letter {
  text-transform: uppercase;

}


/*Welcome Page Start*/

.map-bkg{
	background-image: url("../images/mapbkg.png");
	position: fixed;
	background-repeat: repeat-y;
	height: 680px;
	width: 100%;

 }

.logoBig{
	background-repeat: no-repeat;
	background-image: url("../images/logoBig.png");
	margin-left: auto;
	margin-right: auto;
	margin-top: 11.5%;
	height: 73px;
	width: 57%;

}
.welcomeTxtBox{
	margin-top: 13%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 18px;
	text-align: center;
	font-family: "openSansHebrew";
	color: #33aeac;
}

.btn-welcome{
	display: block;
	margin-top: 14%;
	margin-left: auto;
	margin-right: auto;
	width: 57%;
	color: #faf6e2;
}

.btn-welcome a{
	display: block;
	font-size: 18px;
	font-weight: bold;
	border-radius: 2px;
	background-color: #33aeac;
	box-shadow: 0px 1px 3px 0px rgb( 9, 87, 79 );
}

.btn-welcome a:nth-child(1){
	margin-bottom: 10%;
}

/*Welcome Page End*/



/*login page start*/

.loginInput{
	width: 57%;
	color: #faf6e2;
	height: 6%;
	background-color: #f5b671;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 1px 3px 0px rgb( 22, 167, 154 );
	border: 0;
	border-radius: 2px;
}

.loginDiv > form > div:nth-child(1) {
	margin-bottom: 3%;
}

.loginDiv > form > div:nth-child(2) {
	margin-bottom: 9%;
}

.done{
	border: 0;
  	border-radius: 2px;
	display: block;
	width: 57%;
	color: #faf6e2;
	height: 6%;
	background-color: #33aeac;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 1px 3px 0px rgb( 9, 87, 79 );
}

.loginDiv input {
    background-image: url("../images/elipse_none.png");
    background-position:  97% 50%; 
    background-repeat: no-repeat;
}

.loginDiv input:active {
    background-image: url("../images/elipse_bad.png");
}
.loginDiv input:focus {
    background-image: url("../images/elipse_bad.png");
}


.done[disabled]{
  	background-color: #95dfc5;
  	box-shadow: 1.5px 2.598px 1px 0px rgb( 9, 87, 79 );
}

.loginDiv{
	margin-top: 12%;
}
/*login page end*/