
@font-face{
	font-family: 'OpenSansHebrew';
	src: url('../fonts/OpenSansHebrew-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

ul, li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
body, html, .gm-style{
	font-family: 'OpenSansHebrew' !important;
}
.gm-style div {
	border: none !important;
	color: #faf6e2 !important;
	font-family: 'OpenSansHebrew' !important;
}

.gm-style p{
  padding-top: 14px;
  padding-bottom: 1px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 180px;
  margin-left: 23%;
  margin-right: 25%;
  font-size: 19px;
  font-family: 'OpenSansHebrew' !important;
}

a{
	color: inherit;
	text-decoration: none;
}
#map-canvas{
	max-width: 400px;
	height: 670px;
}
.view {
	margin-top: 14%;	
}
#noNav {
	margin-top: 0 !important;
}
.contr-padding{
	padding-left: 0;
	padding-right: 0;
}

.momList{
	margin: 4% 2% 4% 2%;
	border: 1px solid;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	border-radius: 3px;
	color: #faf6e2;

}

.remomList{
	margin: 2%;
	font-size: 18px;
	color:#faf6e2;
	border-radius: 3px;
	border: 1px solid;
}

.remBody{
	margin-top:2%;
}

.whatsYourMom {
	margin: 2%;
	background-color: #faf6e2;
	box-shadow: 0px 0px 5px 0px rgb( 199,197, 185);	
	text-align: center;
	border: 1px solid rgb( 207, 204,188);	

}

.pHead{
	background-image: linear-gradient(to bottom,#faf6e2 0,#faf6e2 100%) !important;
	color: #16a79a !important;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 2%;
	margin-bottom: 0;
	margin-top: 1.5%;
}

.pFooter{
	width: 92%;
	float: none;
	margin-left: auto;
	margin-right: auto;
	background-color: #faf6e2;
	border-top: 1px solid  rgb(211,208,193);


}

.whatsYourMom > div.panel-body > h3{
	color: #75C2AD;
	margin-top: 10px;
}


.panel-body{
	padding: 4px;
}


.bkgColor{
	background-color: #fcf9e7;
	min-height: 680px;
}
.downLine{
	text-align: center;
	background-color: rgb( 163, 162, 152 );
	height: 1px;
	box-shadow: 0px 0px 4px 0px rgb( 163, 162, 152 );
	margin-left: auto;
	margin-right: auto;
	opacity: 0.302;
	margin-bottom: 3%;
}

.upperLine{
	margin-top: 3%;
	background-color: rgb( 163, 162, 152 );
	height: 1px;
}

.clear{
	clear: both;
}

.tailBrdr{
	background-image: url("../images/line.png");
	width: 94%;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.momMsg{
	padding-top: 25px;
	padding-bottom: 25px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	max-width: 160px;
	margin-left: 25%;
	margin-right: 25%;
}

div.row-fluid.headMsg > p {
	margin-bottom: 0.5%;
}

.headMsg {
	border-radius-top-left: 3px;
	border-radius-top-right: 3px;
	padding-top: 1%;
}
.FullMomMsg{
	padding: 30px;
	font-size: 20px;
	font-weight: bold;
}

.momDate{
	text-align: left;
	padding: 0 0 0 3%;
}

.remDate{
	padding: 0;
	text-align: right;
}

.remSign{
	font-size: 14px;
	background-color: #faf6e2;
	text-align: center;
	padding: 0;
	font-weight: bold;
	margin-left: 3%;
	margin-top: 1%;
	border-radius: 2px;
}

.remMsg{
	float: left;
	text-align: left;
}

.momExplores{
	padding: 0 0 0 3%;
	text-align: left;
	margin-bottom: 1%;
	margin-top: 0;
}

.no-margin{
	margin: 0;
}

.momDistance{
	padding: 0 3% 0 0;
	text-align: right;
}
.ColorInject{
	background-color: #9C8282;
}

.pfont{
	font-size: 10px;
}

p::first-letter {
	text-transform: uppercase;
}


/*Welcome Page Start*/

.map-bkg{
	background-image: url("../images/mapbkg.png");
	position: fixed;
	background-repeat: repeat-y;
	height: 680px;
	width: 100%;

}

.logoBig{
	background-repeat: no-repeat;
	background-image: url("../images/logoBig.png");
	margin-left: auto;
	margin-right: auto;
	margin-top: 11.5%;
	height: 73px;
	width: 57%;

}
.welcomeTxtBox{
	margin-top: 13%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 18px;
	text-align: center;
	font-family: "openSansHebrew";
	color: #33aeac;
}

.btn-welcome{
	display: block;
	margin-top: 14%;
	margin-left: auto;
	margin-right: auto;
	width: 57%;
	color: #faf6e2;
}

.btn-welcome a{
	display: block;
	font-size: 18px;
	font-weight: bold;
	border-radius: 2px;
	background-color: #33aeac;
	box-shadow: 0px 1px 3px 0px rgb( 9, 87, 79 );
}

.btn-welcome a:nth-child(1){
	margin-bottom: 10%;
}

/*Welcome Page End*/



/*login page start*/

.loginInput{
	width: 57%;
	color: #faf6e2;
	height: 6%;
	background-color: #f5b671;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 1px 3px 0px rgb( 22, 167, 154 );
	border: 0;
	border-radius: 2px;
}

.loginDiv > form > div:nth-child(1) {
	margin-bottom: 3%;
}

.loginDiv > form > div:nth-child(2) {
	margin-bottom: 9%;
}

.done{
	border: 0;
	border-radius: 2px;
	display: block;
	width: 57%;
	color: #faf6e2;
	height: 6%;
	background-color: #33aeac;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 1px 3px 0px rgb( 9, 87, 79 );
}

.loginDiv input {
	background-image: url("../images/elipse_none.png");
	background-position:  97% 50%; 
	background-repeat: no-repeat;
}

.loginDiv input:active {
	background-image: url("../images/elipse_bad.png");
}
.loginDiv input:focus {
	background-image: url("../images/elipse_bad.png");
}


.done[disabled]{
	background-color: #95dfc5;
	box-shadow: 1.5px 2.598px 1px 0px rgb( 9, 87, 79 );
}

.loginDiv{
	margin-top: 12%;
}
/*login page end*/


/*navbar start*/



#navbar{
	background-color: #faf6e2;
	box-shadow: 0px 0px 4px 0px rgb( 163, 162, 152 );	
	min-height: 8% !important;
}

#navbar .container {
	padding: 0;
}

#navbar li.span3{
	display: inline-block;
	background-repeat: no-repeat;
	margin-bottom: 0;
}

ul.nav{
	display: inline-block;

}
.nav-right{
	float: right;
	width: 35%;
	margin-top: 4%;
}

.nav-left{
	float: left;
	width: 65%;
	margin-top: 3.5%;


}

#navbar li.span3 > a {
	display: inline-block;

}

.navLogo{
	background-image: url("../images/logoNav.png");
	margin-left: 9.23%;
	width: 29.23%;

}

.mapIcon{
	background-image: url("../images/mapIcon.png");
	float:right;
	width: 10.76%;
	margin-top: 0.65% !important;
}

.momIcon{
	background-image: url("../images/momentIcon.png");
	float: left;
	margin-left: 21.7%;
	margin-top: 0.65% !important;
	width: 20%;
}

.menuIcon{
	background-image: url("../images/menuIcon.png");
	float: right;
	margin-right: 17.14%;
	width: 20%;
}

.notCurrent{
	opacity: 0.5;
}


/*navbar end*/



/*map Start*/


.navBot{
	background-color: transparent;
	position: fixed;;
	min-height: 8%;
	bottom: 0;
	margin-bottom: 0;
	border: none;
	right: 0;
	left: 0;
	display: block;

}
.gmnoprint {
	display: none;
}

/*#map-canvas > div > div:nth-child(2) {
	display: none;
}
*/
.mapRow {
	min-height: 30px;
}

.mapCreateMom {
	display: inline-block;
	width:18%;
	height: 30px;
	background-image: url("../images/addIcon.png");
	background-repeat: no-repeat;
	background-color: transparent;
	float: right;
	border: none;
}

.mapCompass {
	display: inline-block;
	width:30%;
	height: 30px;
	background-image: url("../images/compass.png");
	background-repeat: no-repeat;
	margin-left: 10%;
}

.bubbleBody{
	position: fixed;
	top: 100px;
	width: 300px;
	left: 4%;

}
.panel-default>.panel-heading {
	font-size: 9px !important;
  font-weight: bold !important;
}
.panelHeadTakeMe{
	text-align: center;
	padding: 2px;
	color: #faf6e2;	
	background-image: none !important;
}

.panelBodyTakeMe{
	text-align: center;
	font-size: 15px;
	color: #faf6e2;
}

.panelBodyTakeMe p:first-letter{
	text-transform: uppercase;
}

.panelFooterTakeMe{
	padding: 2px;
	text-align: left;
	border-top: none;
	box-shadow: 0 0 0 0 rgb( 9,87,79) !important;
	color: #faf6e2;
}
.panel-font{
	color: #faf6e2 !important;

}
.panel-footer{
	color: #faf6e2 !important;

}
.panelBtntakeMe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 9px;
	border-radius: 2px;
	box-shadow: 0px 1px 1px 0px rgb( 9, 87, 79 );
	width: 19%;
	padding: 1%;
	margin-bottom: 4%;
	background-color: #faf6e2;
}
/*
.RedHead{
	background-color : #Ef502F; +
	box-shadow: 0.5px 0.9px 2px 0 rgb(193,83,74);
};

.BlueHead{
	background-color : #16A79A; +
	box-shadow: 0.5px 0.9px 2px 0 rgb(9,87,79);
};

.GreenHead{
	background-color : #ABCB64; +
	box-shadow: 0.5px 0.9px 2px 0 rgb(166,168,93);
};

.OrangeHead{
	background-color : #EDC44a; +
	box-shadow: 0.5px 0.9px 2px 0 rgb(208,155,97);
};

.RedBody{
		background-color : rgba(235,102,90,0.8); +
		border-color: rgb(193,83,74); +
		box-shadow: 0 0 2px 0 rgb(193,83,74);
};

.BlueBody{
		background-color : rgba(117,194,173,0.8); +
		border-color: rgb(9,87,79); +
		box-shadow:  0 0 2px 0 rgb( 9,87,79);
};

.GreenBody{
	background-color : rgba(214,214,118,0.8); +
	border-color: rgb(166,168,93); +
	box-shadow: 0 0 2px 0 rgb(166,168,93);
};

.OrangeBody{
		background-color : rgba(245,182,113,0.8); +
		border-color: rgb(208,155,97); +
		box-shadow: 0 0 2px 0 rgb( 208,155,97);
};
*/
/*map End*/


/* Create Mom*/


.publish{
	display: inline-block;
	background-color: #faf6e2 !important;
	color: #75C2AD;
	font-size: 9px;
	box-shadow: 2px 2px 3px 2px #ccc !important;
	border-color: #ccc !important;
	padding: 2px 7px 2px 7px;

}
.form-actions{
	position: absolute;
	right: 4.5%;
	bottom: 5%;
	display: inline-block;
}

.btnColor{
	display: inline-block;
	width: 60%;
}

.btnGroup{
	width:70%;
	position: absolute;
	bottom: 2%;
	left: 2.8%;
}
.formHead{
	height: 22px;
	background-color: #faf6e2;
	border-radius: 4px;
}

.exit{
	float: left;
	margin: 1% 1% 0% 2%;
	font-size: 10px;
}
.createMomForm {
	color: #16a79a;
	background-color: #faf6e2;
	position: fixed;
	top: 9%;
	left: 2%;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	border-color: #ccc;
	border-radius: 4px;

}
::-webkit-input-placeholder { /* WebKit browsers */
	color:    #909;
}
#message{
	background-color: #faf6e2;
	color: #16a79a;
	border: none;
	font-size: 18px;
	font-weight: bold;
}
#message placeholder {
	color: #16a79a;
}
.btnGroup .btnColor{
	margin-right: 2%;
	margin-left: 2.5%;
	height: 18px;
	width: 18px;
	border: none;
	border-radius: 4px;

}


.redButton{
	background-color : rgba(235,102,90,0.8);
}


.greenButton{
	background-color: rgba(214,214,118,0.8);

}
.blueButton{
	background-color : rgba(117,194,173,0.8); 

}
.orangeButton{
	background-color : rgba(245,182,113,0.8); 

}
.Brdr{
	border-top: 0.1em #ccc solid;
	width: 91%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	opacity: 0.45;

}





.currAdd{  margin-left: auto;
	margin-right: auto;
	width: 35%;}




	/*End create mom*/


